:root { 
    --color-whitesmoke: whitesmoke;
    --color-white: #fff;
    --color-dark-grey: #a2a2a2;
    --color-light-grey: #D3D3D3;
    --color-black: #000;
    --color-light-black: rgba(0, 0, 0, 0.5);
}