  .video__progress-slider {
      width: 100%;
      position: relative;
  }

  .video__progress-slider-input {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;   
    background: var(--color-light-grey);
    outline: none;
    opacity: 0.7;
  }

  .video__progress-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: var(--color-white);
    cursor: pointer;
  }

  .video__progress-slider-input::-webkit-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-white);
    cursor: pointer;
  }


