  .video__progress-slider-annotation {
    position: absolute;
    bottom: 2px;
}

.video__annotation {
    position: absolute;
    bottom: 25px;
    width: 220px;
    height: 270px;
    background-color: var(--color-whitesmoke);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.video__annotation-thumb {
  height: 60%;
  width: 100%;
}

.video__annotation-description {
  font-size: 14px;
  margin: 10px 10px 0 10px;
}

.video__annotation-icon:hover + .video__annotation {
  opacity: 1;
  display: block;
}

.video__annotation::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--color-whitesmoke) transparent transparent transparent;
}