.video {
    position: relative;
    width: 800px;
    height: 100%;
}

.mt-10 {
    margin-top: 100px;
}

.video__player {
    height: 100%;
    width: 100%;
}

.video__controls {
    width: 100%;
    position: absolute;
    bottom: -50px;
    height: 50px;
    background-color: var(--color-light-black);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.video__progress-bar {
    background-color: var(--color-dark-grey); 
    height: 10px;
    width: 80%;
    border-radius: 5px;
}

.video__button {
    margin: 0 15px 0 0;
}

.video__progress-pointer {
    position: absolute;
    right: -17.5px;
    top: 50%;
    transform: translateY(-50%);
}






